<%= form_with(model: profile, local: true) do |form| %>
  
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
 <% end %>
    
    <div class="form-group">
    <p><span class="label"><strong>名前:</strong></span></p>
    <p><%= form.select :name, [["飯塚美絵", "飯塚美絵"],
                            ["呉羽陽子", "呉羽陽子"],
                            ["小高みどり", "小高みどり"],
                            ["川上貴子", "川上貴子"],
                            ["矢川由美子", "矢川由美子"],
                            ["島田芳博", "島田芳博"],
                           ], include_blank: "選択して下さい" %>
   </p>
  </div>
  
  <div class="form-group">
    <p><span class="label"><strong> 分野:</strong></span></p>
    <p><%= form.select :genru, [["蝋纈染", "蝋纈染"],
                            ["型染", "型染"],
                            ["友禅染", "友禅染"],
                            ["織", "織"],
                            ["陶磁器", "陶磁器"],
                           ], include_blank: "選択して下さい" %>
   </p>
  </div>
  
  <div class="form-group">
    <p><span class="label"><strong>プロフィール文:</strong></span></p>
    <p><%= form.text_area :text, wrap: 'hard', size: "80x10" , class: 'textarea' %></p>
  </div>

  <div class="form-group">
    <p><span class="label"><strong>トップページ用画像:</strong></span></p>
    <div><%= form.file_field :image1 %></div>
  </div>
  
  <div class="form-group">
    <p><span class="label"><strong>プロフィールページ用画像:</strong></span></p>
    <div><%= form.file_field :image2 %></div>
  </div>

  <p>　</p>
  
  <div class="actions">
    <%= form.submit '上記の内容で登録', class: 'btn-flat-border' %>
  </div>
<% end %>
