<div class="cp_cssslider">
	<div class="cp_slidewrapper">
		<div class="cp_slide_item"><%= image_tag '/assets/top.jpg', class: 'top' %></div>
		<div class="cp_slide_item"><%= image_tag '/assets/top2.jpg', class: 'top' %></div>
		<div class="cp_slide_item"><%= image_tag '/assets/top3.jpg', class: 'top' %></div>
	</div>
</div>




<p>　</p>
<p>　</p>
<p>　</p>
<p id="profile">　</p>

<div class="sub-title">
  <span class="h3">作家プロフィール</span>
</div>

<p>　</p>

<div class="container">
    <div class="row">
    
    <div class="offset-sm-1 col-sm-3">
      <div class="proimg">
        <a href="#">
        <%= image_tag '/assets/p2.jpg', class: 'img-thumbnail' %>
        <p>飯塚</p>
        </a>
      </div>
    </div>
    
    <div class="offset-sm-1 col-sm-3">
      <div class="proimg">
        <a href="#">
        <%= image_tag '/assets/p5.jpg', class: 'img-thumbnail' %>
        <p>呉羽</p>
        </a>
      </div>
    </div>
    
    <div class="offset-sm-1 col-sm-3">
      <div class="proimg">
        <a href="#">
        <%= image_tag '/assets/p4.jpg', class: 'img-thumbnail' %>
        <p>小高</p>
        </a>
      </div>
    </div>
    
    <div class="offset-sm-1 col-sm-3">
      <div class="proimg">
        <a href="#">
          <%= image_tag '/assets/kawakami.jpg', class: 'img-thumbnail' %>
        <p>川上</p>
        </a>
      </div>
    </div>
    
    <div class="offset-sm-1 col-sm-3">
      <div class="proimg">
        <a href="#">
        <%= image_tag '/assets/p3.jpg', class: 'img-thumbnail' %>
        <p>矢川</p>
        </a>
      </div>
    </div>
    
    <div class="offset-sm-1 col-sm-3">
      <div class="proimg">
        <a href="#">
        <%= image_tag '/assets/p1.jpg', class: 'img-thumbnail' %>
        <p>島田</p>
        </a>
      </div>
    </div>
  
    </div>  
  </div>
  
<p>　</p>
<p>　</p>
<p>　</p>
<p id="topic">　</p>

<div class="sub-title">
  <span class="h3">最新情報</span>　<%= link_to '最新情報を更新する', new_topic_path %>
</div>
<% @topics.each do |topic| %>
<div><span class="topic h4"><%= topic.title %></span></div>
 <div class="row">
   <div class="offset-sm-1">
     <div><%= topic.content %></div>
     <div><%= topic.created_at.to_s(:datetime_jp) %></div>
     <%= link_to '過去の情報', topics_path %>
   <%= link_to '最新情報を更新する', new_topic_path %>
   </div>
   <div class"col-sm-1">　</div>
   <div><%= image_tag '/assets/kawakami.jpg', class: 'img-thumbnail' %></div>
 </div>
<% end %>

<p>　</p>
<p>　</p>
<p>　</p>
<p id="past">　</p>

<div class="sub-title">
  <span class="h3">過去の作品</span>
</div>

<p>　</p>
<p>　</p>
<p>　</p>
<p id="link">　</p>

<div class="sub-title">
  <span class="h3">リンク</span> <%= link_to 'リンクを追加', new_place_path %>
</div>
<% @places.each do |place| %>
  <% if(place.name != '会場情報無し') %>
    <div><span class="topic h4"><a href="<%= place.url %>" target="blank"><%= place.name %></a></span></div>
    <div class="row">
     <div class="offset-sm-1">
        <div><small><%= place.address %></small></div>
        <div><%= place.content %></div>
        <p>
        <td><%= link_to 'Edit', edit_place_path(place) %></td>
        <td><%= link_to 'Destroy', place, method: :delete, data: { confirm: '削除してよろしいですか？' } %></td>
        </p>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>

<p>　</p>
<p>　</p>





<div class="cp_accordionslide07">
<div class="slideitem">
<h2>飯塚美絵</h2>
<div class="slidecont" title="飯塚美絵">
<div class="text">
<p>飯塚美絵</p>
</div>
</div>
</div>
<div class="slideitem">
<h2>タイトル 2</h2>
<div class="slidecont" title="タイトル 2">
<div class="text">
<p>テキスト2</p>
</div>
</div>
</div>
<div class="slideitem">
<h2>タイトル 3</h2>
<div class="slidecont" title="タイトル 3">
<div class="text">
<p>テキスト3</p>
</div>
</div>
</div>
<div class="slideitem">
<h2>タイトル 4</h2>
<div class="slidecont" title="タイトル 4">
<div class="text">
<p>テキスト4</p>
</div>
</div>
</div>
<div class="slideitem">
<h2>タイトル 5</h2>
<div class="slidecont" title="タイトル 5">
<div class="text">
<p>テキスト5</p>
</div>
</div>
</div>
</div>





 <footer>
    <div class="copy">© 2020 WA</div>
 </footer>

<script src="dist/js/swiper.js"></script>

<script>
   var swiper = new Swiper('.swiper-container', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    loop: true,
    autoplay: {
      delay: 3000,
      disableOnInteraction: true
    },
  });
  </script>